/*
 * Theme of Crisp Wiki
 * Copyright(c) David Zhang, 2021
 */
* {
  box-sizing: border-box;
}

html {
  width: 100%;
  font-size: 16px;
}

@media (max-width: 42rem) {
  html {
    font-size: 12px;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica,
    Arial, 'Hiragino Sans GB', 'Microsoft Yahei', sans-serif;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  color: #333;
  background-color: #fbfbfb;
  word-wrap: break-word;
  text-align: center;
  height: 100%;
}

footer {
  border-top: 1px solid #aaaaaa;
  text-align: center;
  font-size: 1rem;
  overflow: hidden;
  padding-top: 0.8rem;
  margin-top: 2rem;
  margin-bottom: 1.2rem;
}

a {
  text-decoration: none;
  color: #06c;
}

a:hover {
  text-decoration: underline;
}

.container {
  max-width: 42rem;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  margin-bottom: 3rem;
}

@media (max-width: 42rem) {
  .container {
    padding-left: 0.4rem;
    padding-right: 0.4rem;
  }
}

h1 {
  font-size: 2rem;
  font-weight: 400;
  padding-top: 1.4rem;
  text-align: left;
}

h2 {
  font-size: 1.8rem;
  font-weight: 400;
  padding-top: 1.2rem;
  text-align: left;
}

h3 {
  font-size: 1.4rem;
  font-weight: 500;
  padding-top: 1rem;
  text-align: left;
}

h4 {
  font-size: 1.2rem;
  font-weight: 600;
  padding-top: 0.8rem;
  text-align: left;
}

h5 {
  font-size: 1rem;
  font-weight: 700;
  padding-top: 0.8rem;
  text-align: left;
}

blockquote {
  border-left: 0.2rem solid #aaaaaa;
  margin-left: 0;
  padding-left: 1rem;
}

p {
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  line-height: 1.8rem;
  margin-top: 1.5rem;
}

sup {
  font-size: 0.6rem;
  line-height: 0.6rem;
  vertical-align: auto;
}

hr {
  border-top: 1px solid #aaaaaa;
  margin-bottom: 3rem;
  margin-top: 3rem;
  width: 30%;
}

ul p,
ol p {
  margin: 0;
}

ul li,
ol li {
  line-height: 1.8rem;
  margin-left: -1rem;
}

ul li p,
ol li p {
  line-height: 1.8rem;
  margin: 0;
}

ul.no-marker {
  list-style: none;
}

pre,
code {
  font-family: 'Fira Mono', Menlo, Monaco, Consolas, Courier, monospace;
  hyphens: none;
}

code {
  border: 1px solid #aaaaaa;
  border-radius: 4px;
  font-size: 90%;
  font-weight: bold;
  padding: 0.1rem 0.3rem;
}

code.hljs {
  font-size: 0.9rem;
  padding: 0.8rem;
}
