/*
 * Theme of Crisp Wiki
 * Copyright(c) David Zhang, 2021
 */
* {
  box-sizing: border-box;
}

html {
  width: 100%;
  font-size: 16px;
}

@media (max-width: 42rem) {
  html {
    font-size: 12px;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  color: #333;
  background-color: #fbfbfb;
  word-wrap: break-word;
  text-align: center;
  height: 100%;
}

footer {
  border-top: 1px solid #aaaaaa;
  text-align: center;
  font-size: 1rem;
  overflow: hidden;
  padding-top: .8rem;
  margin-top: 2rem;
  margin-bottom: 1.2rem;
}

a {
  text-decoration: none;
  color: #06c;
}

a:hover {
  text-decoration: underline;
}

.container {
  max-width: 42rem;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  margin-bottom: 3rem;
}

@media (max-width: 42rem) {
  .container {
    padding-left: .4rem;
    padding-right: .4rem;
  }
}

.menu {
  font-size: 1rem;
  font-weight: bold;
}

.menu a {
  margin-right: 1rem;
}

/* codes */
pre {
  font-size: .8rem;
}

code {
  font-family: Menlo, Monaco, "Source Code Pro", Consolas, Courier;
  padding-left: .5rem;
  padding-right: .5rem;
  border: 1px solid #aaaaaa;
  border-radius: .2rem;
  max-width: 100%;
  overflow: hidden;
}

blockquote {
  border-left: 0.2rem solid #aaaaaa;
  margin-left: 0;
  padding-left: 1rem;
}
